/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Variables de raíz */
:root {
    --logBG-height-PC: 100vh;
    --logBG-width-PC: 70vh;
    --SideBar-color: #6C3B2A;
    --white-color: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* Retirar estilo a los hipervínculos */
a {
    text-decoration: none !important;
}

#ndes_logo_lg {
    width: 30%;
    height: auto;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Estilo de banner */
#banner_ndes {
    background-image: url(img/banners/NDES_002.jpg);
}

/* Dispositivos de mayor tamaño */
@media (min-width: 501px) {
    #banner_ndes {
        background-image: url(img/banners/NDES_001.jpg);
    }
}

/* Dispositivos de menor tamaño */
@media (max-width: 500px) {
    #banner_ndes {
        display: none;
    }
}

/* --------------------------------------------------------- */
/* Estilos barra de navegación */

/* Estilo del logo de la empresa */
img.logo {
    width: 100px;
    height: auto;
}

/* --------------------------------------------------------- */
